body{background-image: url(https://images.alphacoders.com/743/743393.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: pink;

}

#container{ text-align: center;
    background: rgba(35, 6, 51, 0.9);
    margin: 30px 100px 20px 100px;
    padding: 30px 100px 30px 100px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(71, 11, 128);

}

#list{
    list-style-type: disc;
}

h1{ font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: rgb(252, 248, 196);

}

li { font-family: 'Archivo Black', sans-serif;
    text-align: left;
    line-height: 1.25;
    font-weight: 100;
    font-size: 18px;
    color:  rgb(167, 204, 253);

}

#targetNumber {  margin: 30px 100px 20px 100px;
    padding: 30px 100px 30px 100px;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(252, 248, 196);
    font-family: 'Roboto Slab', serif;

}

#winslosses { font-family: 'Archivo Black', sans-serif;
    text-align: left;  
    display: inline-block;
    margin: 30px 100px 20px 100px;
    padding: 30px 100px 30px 100px;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(252, 248, 196);
    font-family: 'Roboto Slab', serif;

}

.crystals {  margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

h2 {text-align: center;
    font-size: 20px;
    font-weight: 900;
    color:  rgb(252, 248, 196);
    font-family: 'Roboto Slab', serif;
}
